# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# css
public/assets/css/ui.css.map
public/assets/css/ui.css
src/css/ui.css
src/css/ui.css.map