/* =================== Button =================== */
// 공통 버튼 스타일
@mixin button-style($bg-color: $clr-pri, $font-size: 0.875rem, $font-weight: normal, $border-radius: 0.25rem) {
  background-color: $bg-color;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-block;
  font-size: $font-size;
  border-radius: $border-radius;
  font-weight: $font-weight;
  // transition: filter 0.3s, transform 0.3s;
  overflow: hidden;
  outline: none;
  transition: background-color 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 공통 호버 효과
@mixin hover-effect {
  &:hover,
  &:active {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.25);
    filter: brightness(95%);
  }
}

// 비활성화 스타일
@mixin disabled-style {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

// 버튼 사이즈
@mixin button-size($size) {
  @if $size == 'lg' {
    height: 3.0625rem;
    padding: 0 1.125rem;
    min-width: 11.875rem;
    box-sizing: border-box;
  } @else if $size == 'x-lg' {
    height: 3.75rem;
    padding: 0 1.125rem;
    min-width: 11.875rem;
    box-sizing: border-box;
  } @else if $size == 'mid' {
    height: 2.5rem;
    padding: 0 1.125rem;
  } @else if $size == 'sm' {
    // min-width: 5.125rem;
    height: 1.75rem;
    padding: 0 1.125rem;
  } @else if $size == 'x-sm' {
    // min-width: 3.375rem;
    height: 1.5rem;
    padding: 0.3125rem 0.5rem;
  }
}

// 폰트 크기
@mixin font-size($size) {
  @if $size == 'lg' {
    font-size: 1.25rem;
  } @else if $size == 'mid' {
    font-size: 1.125rem;
  } @else if $size == 'sm' {
    font-size: 1rem;
  } @else if $size == 'x-sm' {
    font-size: 0.875rem;
  }
}

// 반지름 크기
@mixin border-radius($size) {
  @if $size == 'lg' {
    border-radius: 0.75rem;
  } @else if $size == 'mid' {
    border-radius: 0.625rem;
  } @else if $size == 'sm' {
    border-radius: 0.5rem;
  } @else if $size == 'x-sm' {
    border-radius: 0.375rem;
  }
}

// 배경색과 텍스트 색상 설정
@mixin color-variation($bg-color, $text-color: #fff, $border-color: none) {
  background-color: $bg-color;
  color: $text-color;
  border: 0.0625rem solid $border-color;
}

.com-btn {
  @include button-style;
  @include hover-effect;
  @include disabled-style;

  // 비활성화 스타일
  &.disabled {
    opacity: 0.5; // 투명도 조절
    pointer-events: none; // 클릭 이벤트 비활성화
  }

  // 버튼 크기 설정
  &.btn-x-lg {
    @include button-size('x-lg');
    font-weight: 700;
  }
  &.btn-lg {
    @include button-size('lg');
  }
  &.btn-mid {
    @include button-size('mid');
  }
  &.btn-sm {
    @include button-size('sm');
  }
  &.btn-x-sm {
    @include button-size('x-sm');
  }

  // 폰트 크기 설정
  &.font-lg {
    @include font-size('lg');
  }

  &.font-mid {
    @include font-size('mid');
  }

  &.font-sm {
    @include font-size('sm');
  }

  &.font-x-sm {
    @include font-size('x-s');
  }

  // 반지름 설정
  &.radius-lg {
    border-radius: 0.75rem;
  }
  &.radius-mid {
    border-radius: 0.625rem;
  }
  &.radius-sm {
    border-radius: 0.5rem;
  }
  &.radius-x-sm {
    border-radius: 0.375rem;
  }

  // 배경색 설정
  &.bg-pri {
    @include color-variation($clr-pri);
  }
  &.bg-sec {
    @include color-variation($clr-sec);
  }
  &.bg-acc {
    @include color-variation($clr-acc);
  }
  &.bg-clr {
    @include color-variation($clr-bg);
    color: #000;
  }
  &.bg-white {
    @include color-variation(#fff, #000, #000);
    color: #000;
  }

  // 버튼 효과 설정
  &.hover-scale {
    transition: transform 0.3s;
  }

  &.hover-scale:hover {
    transform: scale(1.1);
  }

  // 클릭시 효과
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: opacity 0.1s, transform 4s;
  }

  &:active:after {
    animation: ripple-effect 0.6s ease-out;
  }
}

/* =================== Input =================== */
// 공통 입력 필드 스타일
@mixin input-style {
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: middle;
  padding-left: 0.625rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  width: 100%;
  border: 0.0625rem solid #666666; // 기본 테두리 색상 설정

  &:hover,
  &:focus {
    border: 0.0625rem solid $clr-pri;
    outline: 0.0625rem solid $clr-pri;
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075), 0 0 0.5rem rgba(102, 175, 233, 0.6);
  }
}

// 입력란 크기 설정 믹스인
@mixin input-size($size) {
  @if $size == 'lg' {
    height: 3.5rem;
    padding: 0 1.125rem;
    font-size: 1.125rem;
  } @else if $size == 'mid' {
    height: 2.25rem;
    padding: 0 1.125rem;
    font-size: 1rem;
  } @else if $size == 'sm' {
    height: 1.75rem;
    padding: 0 1.125rem;
    font-size: 0.875rem;
  }
}

.com-input {
  @include input-style;

  &.input-lg {
    @include input-size('lg');
  }
  &.input-mid {
    @include input-size('mid');
  }
  &.input-sm {
    @include input-size('sm');
  }

  // 입력란 테두리 스타일 설정
  &.border-solid {
    border-style: solid;
  }
  &.border-dashed {
    border-style: dashed;
  }
  &.border-dotted {
    border-style: dotted;
  }

  // 입력란 테두리 색상 설정
  &.border-pri {
    @include color-variation(#fff, #333, $clr-bg);
  }
  &.border-sec {
    @include color-variation(#fff, #333, $clr-sec);
  }
  &.border-acc {
    @include color-variation(#fff, #333, $clr-acc);
  }

  // 입력란 배경색 설정
  &.bg-lightgray {
    background-color: #f5f5f5;
  }
  &.bg-lightblue {
    background-color: #e6f7ff;
  }
  &.bg-lightgreen {
    background-color: #e6ffe6;
  }

  // 입력란 텍스트 정렬 설정
  &.text-left {
    text-align: left;
  }
  &.text-center {
    text-align: center;
    padding-left: 0;
  }
  &.text-right {
    text-align: right;
    padding-left: 0;
  }
}

/* =================== Checkbox =================== */
.com-checkbox-wrap {
  flex-wrap: wrap;
  max-width: 55rem;
  display: inline-block;
  padding: 0.625rem 0;
  display: flex;
  gap: 1.0625rem;
  label,
  input {
    cursor: pointer;
    background: #fff;
  }
  .item {
    &:hover {
      input {
        border: 0.0625rem solid $clr-pri;
        outline: 0.0625rem solid $clr-pri;
      }
    }
  }
  label {
    display: inline-block;
    margin-left: 0.3125rem;
    font-size: 0.9375rem;
    background: #fff;
  }
}

.com-checkbox {
  appearance: none;
  outline: none;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid #cccccc; /* 회색 선 */
  cursor: pointer;
  position: relative;
}

.com-checkbox:checked {
  background-color: $clr-pri; /* 체크박스 선택 시 배경색 */
  border: none;
}

.com-checkbox:checked::before {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.75rem;
}

.v-mx-2 {
  /* Vuetify의 margin 클래스 */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.v-motion {
  /* Vuetify의 모션 스타일 */
  animation: motion-fadeInLeft 0.5s ease-in-out;
}

@keyframes motion-fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-1.25rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* =================== ComRadio =================== */
.com-checkbox-wrap {
  flex-wrap: wrap;
  max-width: 55rem;
  display: flex;
  padding: 0.625rem 0;
  gap: 1.0625rem;

  .item {
    display: flex;
    align-items: center;

    input[type='radio'] {
      appearance: none;
      outline: none;
      width: 1.25rem;
      height: 1.25rem;
      border: 0.125rem solid #cccccc; /* 기본 테두리 색상 */
      border-radius: 50%; /* 원형 디자인 */
      cursor: pointer;
      position: relative;
      margin-right: 0.3125rem; /* 라벨과의 간격 */

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.2s;
      }

      &:checked {
        border-color: $clr-pri; /* 선택 시 테두리 색상 */

        &:after {
          background-color: $clr-pri; /* 선택 시 내부 색상 */
        }
      }

      &:hover {
        border-color: darken($clr-pri, 10%);
      }
    }

    label {
      cursor: pointer;
      font-size: 0.9375rem;
      user-select: none; /* 라벨 텍스트 선택 방지 */
    }
  }
}

/* =================== Select  =================== */
@mixin select-style-base {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ddd;
  background-color: #fff;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  display: block;
  cursor: pointer;
  // background-image:
}

@mixin select-size($size) {
  @if $size == 'lg' {
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1.25rem;
    height: 3.5rem;
    background-position: right 1rem center;
    background-size: 1rem;
  } @else if $size == 'mid' {
    padding-left: 10px;
    font-size: 1rem;
    height: 3.125rem;
    line-height: 3.125rem;
    background-position: right 0.75rem center;
    background-size: 0.75rem;
  } @else if $size == 'sm' {
    padding: 0.25rem 1.5rem 0.25rem 0.5rem;
    font-size: 0.875rem;
    height: 1.75rem;
    background-position: right 0.5rem center;
    background-size: 0.65rem;
  }
}

.com-select {
  @include select-style-base;
  @include bg-url('img', 'bg-select-arr.svg');
  font-size: 18px;
  font-weight: 400;
  color: #000;
  border-radius: 8px;

  option {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    border-radius: 8px;
    opacity: 0.5;
  }

  &.select-lg {
    @include select-size('lg');
  }

  &.select-mid {
    @include select-size('mid');
  }

  &.select-sm {
    @include select-size('sm');
  }

  &:hover,
  &:focus {
    border: 0.0625rem solid $clr-pri;
    outline: 0.0625rem solid $clr-pri;
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075), 0 0 0.5rem rgba(102, 175, 233, 0.6);
  }
}

/* =================== Textarea  =================== */
@mixin textarea-style {
  display: block;
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ddd;
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: $clr-pri;
    outline: none;
    // box-shadow: 0 0 0 0.2rem rgba(map-get($clr-pri, "rgb"), 0.25);
  }
}

.com-textarea {
  @include textarea-style;

  &.textarea-lg {
    height: 150px;
  }

  &.textarea-mid {
    height: 100px;
  }

  &.textarea-sm {
    height: 50px;
  }

  &:hover,
  &:focus {
    border: 0.0625rem solid $clr-pri;
    outline: 0.0625rem solid $clr-pri;
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075), 0 0 0.5rem rgba(102, 175, 233, 0.6);
  }
}

/* =================== ComTable =================== */
.com-table {
  margin-top: 0.4rem;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 0.125rem solid #666;
  background: #fff;

  // 행 호버 효과 없음
  &.no-hover tr:hover td {
    background: transparent;
  }

  // 텍스트 왼쪽 정렬
  &.text-left td {
    text-align: left;
    padding-left: 0.9375rem;
  }

  // 공지사항 행, 호버 행, 포커스 행 스타일
  tr.notice td,
  tr:hover td,
  tr:focus td {
    background: #f9fdf3;
  }

  // 테이블 셀 및 헤더 기본 스타일
  th,
  td {
    padding: 0.1875rem 0.3125rem;
    height: 2.125rem;
    border: 0.0625rem solid #ddd;
    min-height: 3.125rem;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 1rem;

    // 모바일 뷰와 관련된 스타일
    @media (max-width: $mo) {
      height: auto;
      border: none !important;
      border-bottom: 0.0625rem solid #ddd !important;
      padding: 0.625rem 0.3125rem;
    }
  }

  // 테이블 헤더 왼쪽 정렬
  th.left,
  td.left {
    text-align: left;
    padding-left: 0.625rem;
  }

  // 테이블 헤더 스타일
  th {
    background: #eaeaea;
    border: 0.0625rem solid #d1d1d1;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  // 테이블 데이터 셀 스타일
  td {
    a.one-line {
      width: calc(100% - 0.625rem);
      position: relative;
      top: 0.1875rem;
    }
  }

  // 한 줄로 표시되는 셀 스타일
  td.one-line {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    vertical-align: middle;
  }

  // 링크 호버 스타일
  td a:hover {
    color: $clr-pri;
  }
}
.tbl {
  display: block;
  overflow-x: auto;
  width: auto;
  padding: 0 1px 0 0;
  box-sizing: border-box;

  @media screen and (max-width: $web) {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: $web) {
  .scroll-tbl-wrap,
  .scroll-wrap {
    display: block;
    position: relative;
    width: 100%;
  }

  .scroll-wrap::before,
  .scroll-tbl-wrap::before {
    content: '';
    display: none; // 기본적으로는 display: none; 상태로 시작
    position: absolute;
    top: 0.25rem;
    right: 1.5rem;
    z-index: 999;
    width: 43px;
    height: 12px;
    background: url(../../img/hint-table-scroll.png) no-repeat 0 0;
  }

  .scroll-tbl-wrap::before {
    display: block; // scroll-tbl-wrap::before에만 display를 block으로 설정
  }

  .scroll-tbl-wrap .tbl table,
  .scroll-tbl-wrap > table,
  .scroll-wrap > table {
    width: auto;
    min-width: 30rem;
    max-width: 80rem;
  }
}

// 파일 입력 필드 공통 스타일
.file-input-wrapper {
  position: relative;
  display: inline-block;
}

.file-input-button {
  display: inline-block;
  background-color: $clr-pri;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background-color: darken($clr-pri, 10%);
  }
}

.is-none {
  display: none;
}

// input
.inp-grp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}

.input {
  position: relative;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.label-md {
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;

  &.type-essential {
    position: absolute;
    top: auto;
    bottom: 14px;
    left: 7px;

    &::after {
      content: '*';
      z-index: 1;
      position: absolute;
      top: -8px;
      right: -13px;
      left: auto;
      color: #02c6ff;
      font-size: 1.25rem;
    }
  }

  &.type-02 {
    top: 0;
    bottom: auto;
  }
}

.inp {
  @include input-reset;

  width: 100%;
  padding-left: 90px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(#8b8b8b, 0.7);
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;

  &::placeholder {
    color: rgba(#fff, 0.3);
  }
}

.textarea-01 {
  height: 214px;
  padding: 0 0 0 7px;
  margin-top: 40px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#8b8b8b, 0.7);
    border-radius: 2px;
  }
}

.chk-01 {
  display: inline-block;
  padding-left: 35px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='그룹_28311' data-name='그룹 28311' transform='translate(-768 -2078)'%3E%3Cg id='사각형_5889' data-name='사각형 5889' transform='translate(768 2078)' fill='none' stroke='%23fff' stroke-width='1' opacity='0.5'%3E%3Crect width='24' height='24' rx='4' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' fill='none'/%3E%3C/g%3E%3Cpath id='패스_11269' data-name='패스 11269' d='M7849.751-4484.921l3.957,4.723,7.276-8.169' transform='translate(-7075.368 6574.283)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.check-switch:checked + .chk-01 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='그룹_28306' data-name='그룹 28306' transform='translate(-768 -2078)'%3E%3Crect id='사각형_5889' data-name='사각형 5889' width='24' height='24' rx='4' transform='translate(768 2078)' fill='%2302c6ff'/%3E%3Cpath id='패스_11269' data-name='패스 11269' d='M7849.751-4484.921l3.957,4.723,7.276-8.169' transform='translate(-7075.368 6574.283)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  color: #02c6ff;
}

// btn
.btn {
  @include input-reset;
}

.btn-inquiry {
  width: 191px;
  height: 57px;
  border-radius: 29px;
  background: linear-gradient(to right bottom, #02c6ff, #1c45f9);
  font-size: 1.375rem;
  font-weight: 600;
  color: #fff;
  line-height: 57px;
}

.btn-underline {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(#fff, 0.8);
  text-decoration: underline;
}
