.icon {
  display: inline-block;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-reverse {
  transform: rotate(180deg);
}

.icon-bottom {
  display: inline-block;
  transform: rotate(90deg);
}

.icon-arrow {
  width: 39px;
  height: 82px;
  background-image: url("data:image/svg+xml,%3Csvg id='그룹_27227' data-name='그룹 27227' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38.937' height='82.221' viewBox='0 0 38.937 82.221'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='1' y1='0.544' x2='-0.063' y2='0.526' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2302c6ff'/%3E%3Cstop offset='0.565' stop-color='%2302c6ff' stop-opacity='0.212'/%3E%3Cstop offset='0.774' stop-color='%2302c6ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2302c6ff' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='1' y1='0.544' x2='-0.123' y2='0.54' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2302c6ff'/%3E%3Cstop offset='0.523' stop-color='%2302c6ff' stop-opacity='0.212'/%3E%3Cstop offset='0.707' stop-color='%2302c6ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2302c6ff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='패스_10721' data-name='패스 10721' d='M0,68.137l24.515-34.4L0,0Z' transform='translate(14.423 7.042)' fill='url(%23linear-gradient)'/%3E%3Cpath id='패스_10722' data-name='패스 10722' d='M0,82.221,29.536,40.8,0,0V82.221Z' transform='translate(0 0)' fill='url(%23linear-gradient-2)'/%3E%3C/svg%3E%0A");
}

.icon-arrow-sm {
  width: 26px;
  height: 57px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26.019' height='57.225' viewBox='0 0 26.019 57.225'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='1' y1='0.544' x2='-0.083' y2='0.56' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2302c6ff'/%3E%3Cstop offset='0.565' stop-color='%2302c6ff' stop-opacity='0.212'/%3E%3Cstop offset='0.774' stop-color='%2302c6ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2302c6ff' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='1' y1='0.544' x2='-0.084' y2='0.55' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2302c6ff'/%3E%3Cstop offset='0.523' stop-color='%2302c6ff' stop-opacity='0.212'/%3E%3Cstop offset='0.707' stop-color='%2302c6ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2302c6ff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='그룹_26745' data-name='그룹 26745' transform='translate(0 0)'%3E%3Cpath id='패스_10721' data-name='패스 10721' d='M0,47.422,15.98,23.834,0,0Z' transform='translate(10.038 4.902)' fill='url(%23linear-gradient)'/%3E%3Cpath id='패스_10722' data-name='패스 10722' d='M0,57.225l19.772-28.49L0,0V57.225Z' transform='translate(0 0)' fill='url(%23linear-gradient-2)'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-date {
  width: 18px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20'%3E%3Cpath id='ic_event_note_24px' d='M17,10H7v2H17Zm2-7H18V1H16V3H8V1H6V3H5A1.991,1.991,0,0,0,3.01,5L3,19a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V8H19Zm-5-5H7v2h7Z' transform='translate(-3 -1)' fill='rgba(93,93,93,0.7)'/%3E%3C/svg%3E%0A");

  @include media($mo, max) {
    width: 12px;
    height: 13px;
  }
}
