---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';

const pageTitle = 'MEDILMM';
const idName = 'main';
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <section class="visual">
    <div class="video-container">
      <video class="visual__video is-tab-hide" autoplay loop muted preload="auto">
        <source class="is-tab-hide" src="../assets/video/main.mp4" type="video/mp4" />
      </video>
      <video class="visual__video is-tab-show" autoplay loop muted preload="auto">
        <source class="is-tab-show" src="../assets/video/main_tab.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="visual__inner inner">
      <div class="visual__title f-pop" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
        <img class="" src="../assets/images/main-txt.svg" alt="" />
        Generatied <br class="is-tab-show" /> Multi Modal <br /> Analysis Process
      </div>
      <div class="visual__txt" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
        <span>생성형 AI를 활용한</span> 멀티 모달 데이터 분석 이미지와 <br /> 텍스트를 결합한 자동화 프로세스
      </div>
    </div>
  </section>
  <section class="main-section">
    <div class="inner">
      <div class="com-title">
        <div class="title-badge" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">MEDILMM Overview</div>
        <h1 class="f-pop" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          Introduction to <span>MEDILMM</span>
        </h1>
      </div>

      <ul class="card-list flx col33">
        <li class="card" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <a href="../sub/SimpleModel.html">
            <div class="image-cnt" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
              <img class="image-default" src="../assets/images/s1_1.webp" loading="lazy" alt="" />
              <img class="image-hover" src="../assets/images/s1_1_gif.gif" alt="Hover Image" />
            </div>
            <h2 data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">SimPLE Modal</h2>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
              기존의 한정적인 데이터 처리와 AI 기술을 <br />
              뛰어넘어 멀티 모달 데이터를 수집, 변환 처리 <br />
              최신 생성형 AI 기술에 최적화
            </p>
            <button data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">See More +</button>
          </a>
        </li>
        <li class="card" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <a href="../sub/CADCatch.html">
            <div class="image-cnt" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
              <img class="image-default" src="../assets/images/s1_2.webp" loading="lazy" alt="" />
              <img class="image-hover" src="../assets/images/s1_2_gif.gif" alt="Hover Image" />
            </div>

            <h2 data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">CAD Catch<sup>TM</sup></h2>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
              이미지, 영상을 텍스트와 결합한 <br />
              멀티 모달 데이터를 생성형 AI에 의해 <br />
              다양하게 분석 가능
            </p>
            <button data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">See More +</button>
          </a>
        </li>
        <li class="card" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
          <a href="../sub/UVLTransformer.html">
            <div class="image-cnt" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
              <img class="image-default" src="../assets/images/s1_3.webp" loading="lazy" alt="" />
              <img class="image-hover" src="../assets/images/s1_3_gif.gif" alt="Hover Image" />
            </div>
            <h2 data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">UVL Transformer</h2>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
              UVL 트랜스포머와 MIT의 SimPLE로 <br />
              경량화 및 파인튜닝된 LMM을 바탕으로 <br />
              메디컬 도메인에 특화된 솔루션 제공
            </p>
            <button data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">See More +</button>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
