.header {
  height: 5.3125rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &.on {
    @include make-after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      bottom: 0;
      background: rgba(255, 255, 255, 1); /* 흰색 배경 */
      filter: blur(1.875rem) brightness(1.5);
    }
  }
  .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .gnb {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    > ul {
      height: 100%;
      display: flex;
      > li {
        position: relative;
        z-index: 2;
        text-align: center;
        height: 100%;
        @include make-before {
          position: absolute;
          top: 4.375rem;
          width: 100%;
          height: 6.25rem;
          background: transparent;
        }
        > a {
          position: relative;
          display: inline-flex;
          align-items: center;
          font-size: 1.0625rem;
          font-weight: 400;
          color: #000;
          height: 100%;
          cursor: pointer;
          padding: 0 1.5625rem;

          &:hover {
            color: $clr-sec;
          }

          &.on {
            @include make-after {
              content: 'TM';
              font-family: 'Poppins', sans-serif !important;
              font-size: 0.625rem;
              font-weight: 400;
              color: #000;
              position: absolute;
              width: 0.75rem;
              height: 0.75rem;
              top: 1.75rem;
              right: 0.8125rem;
            }
          }

          &.on2 {
          }
        }
        &:hover .sub-menu {
          opacity: 1; /* 투명도를 1로 설정하여 서브 메뉴를 완전히 보이게 함 */
          visibility: visible; /* 서브 메뉴를 보이게 설정 */
          transform: translateX(-50%) translateY(0); /* 원래 위치로 돌아오게 설정 */
        }
        .sub-menu {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          min-width: 10.4375rem;
          // transform: translateY(-1.25rem); /* 초기 위치를 조금 위로 올림 */
          transition: opacity 0.5s ease, transform 0.5s ease; /* 투명도와 위치 변화에 대한 전환 효과 적용 */
          top: 6.325rem;
          width: 100%;
          border: 0.0625rem solid #e2e2e2;
          box-shadow: 0 0.4375rem 0.875rem rgba(0, 0, 0, 0.07);
          border-radius: 0.375rem;
          padding: 0.375rem;
          box-sizing: border-box;
          background: rgb(2, 198, 255);
          background: linear-gradient(137deg, rgba(2, 198, 255, 1) 0%, rgba(28, 69, 249, 1) 100%);
          z-index: 1;
          text-align: center;
          left: 50%;
          transform: translateX(-50%) translateY(-1.25rem);
          > li {
            border-radius: 0.3125rem;
            margin-bottom: 0.3125rem;
            &:last-of-type {
              margin-bottom: 0;
            }
            &:hover {
              background: rgba(255, 255, 255, 0.25);
              a {
                font-weight: bold;
              }
            }
            a {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              color: #000;
              height: 2.625rem;
              font-size: 1rem;
              font-weight: 400;
              color: #fff;
              &:hover {
                color: #fff;
              }
              &.on {
                color: $clr-sec;
                position: relative;
                @include make-after {
                  position: absolute;
                  top: 41%;
                  transform: translateY(-50%);
                  right: -1.6875rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  @include bg-url('img', 'TM.svg');
                  background-size: contain;
                }
              }
            }
            &:last-of-type {
              a {
                margin-bottom: 0;
              }
            }
          }
        }

        &:nth-of-type(4) {
          margin-right: 10.625rem;
        }

        &:last-of-type {
          max-height: 3.4375rem;
          @include po-y;
          right: 0;
          transition: all 0.3s;
          > a {
            background: rgb(2, 198, 255);
            background: linear-gradient(148deg, rgba(2, 198, 255, 1) 0%, rgba(28, 69, 249, 1) 100%);
            color: #fff;
            border-radius: 0.3125rem;
            font-weight: 600;
          }

          &:hover > a {
            background: #02c6ff;
          }
        }
      }
    }
  }
}
.mobileMenu {
  // position: relative;
  .logout {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    top: 0;
    height: calc(100vh - 4rem);
    z-index: 9999;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2.125rem;
    a {
      display: inline-block;
      font-size: 1rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .menuToggle {
    background: transparent;
    position: absolute;
    right: 15px;
    top: 26px;
    display: inline-block;
    cursor: pointer;
    z-index: 9999;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    .menuItem {
      background-color: #000;
      display: block;
      height: 0.1875rem;
      margin: 0 0 0.625rem;
      transition: all 0.3s ease-in-out;
      width: 1.875rem;
    }
    &.open .menuItem {
      margin: 0.0625rem 0rem 0.3125rem;
      background-color: red;

      &:first-child {
        transform: rotate(45deg);
        transform-origin: 0.25rem;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 0.1875rem;
      }
    }

    &.open {
      + .mobileNav {
        display: block;
        transform: translate(0%, 0);
        z-index: 9998;
        padding-top: 2.5rem;
        background: #fff;
      }
    }
  }
  .mobileNav {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0rem;
    left: 0;
    background-color: #3c3842;
    width: 100%;
    height: 100vh;
    transform: translate(100%, 0);
    transition: all 0.2s ease-in-out;

    ul {
      list-style-type: none;
      li.mobileNavItem {
        > a {
          position: relative;
          color: #000;
          font-size: 1.125rem;
          font-weight: 600;
          &.on {
            @include make-after {
              @include po-y;
              transition: all 0.3s ease-in-out;
              right: 1.25rem;
              width: 11px;
              height: 11px;
              border-top: 1px solid #000;
              border-right: 1px solid #000;
              transform: translateY(-50%) rotate(135deg);
              top: 43%;
            }
          }
        }
        &.on {
          > a {
            background: $clr-sec;
            color: #fff;
            @include make-after {
              @include po-y;
              right: 1.25rem;
              width: 11px;
              height: 11px;
              border-top: 1px solid #fff;
              border-right: 1px solid #fff;
              transform: translateY(-50%) rotate(315deg);
              top: 55%;
            }
          }
        }
      }
    }

    li a {
      color: #989aa4;
      display: block;
      padding: 0.9375rem 1.25rem;
    }
  }
}

.mobileNav {
  background-color: #fff !important;
  > ul {
    margin-top: 2.5rem;
    > li {
      box-sizing: border-box;
      border-bottom: 0.0625rem solid #f1f1f1;
      > a {
        display: inline-block;
        padding: 1.25rem 1.25rem !important;
      }
      .dapth2 {
        display: none;
      }
      &.on {
        .dapth2 {
          display: block;
          background: #fff !important;
          padding: 0.625rem;
          li {
            border-radius: 0.3125rem;
            &:hover {
              background: rgba(0, 0, 0, 0.03);
              a {
                font-weight: 700;
              }
            }
            > a {
              position: relative;
              z-index: 1;
              opacity: 1;
              height: 100%;
              color: #000;
              padding: 1rem 0 !important;
              font-size: 1rem;
              font-weight: 400;
              color: #333;
              padding-left: 0.8125rem !important;
              &.on {
                @include make-after {
                  position: absolute;
                  top: 55%;
                  transform: translateY(-50%);
                  left: 4rem;
                  width: 2.25rem;
                  width: 2.25rem;
                  height: 2.25rem;
                  background-image: url(../../assets/img/active-star.svg);
                  background-repeat: no-repeat;
                }
              }
              &:hover {
                color: $clr-sec;
              }
            }
            &:last-of-type {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
  .moLogo {
    text-align: center;
    margin-top: 1.25rem;
    a {
      display: inline-block;
      text-align: center;
      img {
        display: block;
        margin: 0 auto;
        width: 10rem;
      }
    }
  }
}

.header .mobileMenu .menuToggle.open .menuItem {
  margin: 1px 0 5px;
  background: $clr-sec !important;
}

// 미디어쿼리
@include media($web, max) {
  .header {
    z-index: 9999 !important;
  }
  .header .logo {
    position: absolute;
    left: 15px;
    z-index: 9999;
  }
  .header .utilmenu {
    right: 0.9375rem;
  }
  .header .utilmenu ul li:first-of-type img {
    width: 1.2625rem;
  }
  .header .utilmenu ul li:nth-of-type(2) img {
    width: 1.875rem;
  }
  .mobileMenu {
    display: block !important;
  }
  .header .headerWrap .headerInner .logo {
    left: 1.25rem;
  }
  .header .headerWrap .headerInner .utilMenu {
    display: none;
  }
  .header .mobileMenu .menuToggle .menuItem {
    background-color: #000;
    display: block;
    height: 2px;
    margin: 0 0 7px;
    transition: all 0.3s ease-in-out;
    width: 26px;
  }
}

@include media($mo, max) {
  .header .logo {
    left: 15px;
    top: 15px;
    img {
      width: 11rem;
    }
  }
  .mobileMenu .menuToggle {
    top: 16px;
  }
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2.125rem;
}

.breadcrumbs li {
  font-size: 1.125rem;
  color: #000;
  position: relative;
  &::after {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 0.4375rem;
    content: '';
    display: inline-block;
    background: url('../../assets/img/bread-arr.svg');
    width: 0.625rem;
    height: 0.9375rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:last-of-type {
    @include make-after {
      display: none;
    }
  }
}

.breadcrumbs li:first-of-type a {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url('../../assets/img/btn-home.svg');
  position: relative;
  top: -0.0625rem;
}

.breadcrumbs a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.125rem;
  margin-right: 1.6875rem;
  color: #000;

  &:hover {
    text-decoration: underline;
    color: #ff3787;
  }
}

.sub-banner .wrap {
  margin-left: 2.6875rem;
  position: relative;
  top: 1.25rem;
}
.sub-banner {
  background-size: cover;
  background-position: center;
  height: 18.75rem; /* 원하는 높이로 조정하세요 */
}
.sub-banner .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-banner-tit {
  /* Your styles here */
  font-weight: 200;
  font-size: 4.125rem;
  color: #fff;
  line-height: 1;
}
.sub-banner {
  p {
    span {
      display: inline-block;
      transform: translateY(100%);
      transition-duration: 0.5s;
      // text-shadow: 0.625rem 0.625rem 0 rgba(255, 255, 255, 0.5);
    }
  }
  article {
    opacity: 0;
    z-index: 1;
    &.on {
      display: block;
      opacity: 1;
      z-index: 2;
      p {
        span {
          transform: translateY(0%);
        }
      }
    }
  }
}
.sub-banner-txt {
  margin-top: -1.6875rem;
  /* Your styles here */
  font-size: 4.125rem;
  font-weight: 800;
  color: #fff;
  line-height: 1;
  img {
    position: relative;
    top: -0.25rem;
  }
}

@include media($tab, max) {
  .mobileMenu .mobileNav ul li.mobileNavItem > a {
    font-size: 18px;
    font-weight: 500;
  }
  .mobileNav > ul > li.on .dapth2 li > a {
    font-size: 16px;
  }
}
