// MediLMM CEO
.co-ceo-wrap {
  padding-top: 198px;

  @include media(600px) {
    padding-top: 60px;
  }

  .ttl-grp {
    position: relative;

    .ttl {
      margin-bottom: 72px;
      font-size: 2.9375rem;
      font-weight: 700;
      color: #000;

      @include media(600px) {
        font-size: 30px;
        text-align: center;
      }
    }

    .video-grp {
      position: absolute;
      z-index: -1;
      top: 57px;
      left: 155px;
      transform: rotate(-8deg);
      width: 34.9375rem;
      height: 6.5625rem;

      @include media($mo, max) {
        top: 50px;
        left: 50%;
        transform: translateX(-50%) rotate(-8deg);
      }

      .video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .mb-ceo-img {
    @include media($mo, max) {
      position: relative;
      overflow: hidden;
      margin-bottom: 33px;

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: auto;
        bottom: 0;
        width: 100%;
        height: 83%;
        border-radius: 10px 10px 0 0;
        background-color: #eff4f8;
      }
    }

    .img-grp {
      @include media($mo, max) {
        width: 329px;
        height: 433px;
        margin-left: -13px;
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .desc {
    font-size: 1.125rem;
    font-weight: 400;
    color: #000;

    @include media($mo, max) {
      font-size: 16px;
    }

    &.type-02 {
      margin: 30px 0;

      @include media($mo, max) {
        margin: 26px 0;
      }
    }

    .bold-txt {
      font-weight: 700;
    }

    .highlight {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: auto;
        bottom: -6px;
        left: -3px;
        width: 102%;
        height: 18px;
        background-color: rgba(#02c6ff, 0.15);

        @include media($mo, max) {
          height: 15px;
          bottom: -3px;
        }
      }
    }
  }
}

.co-ceo-career-wrap {
  padding: 49px 0;
  margin-top: 55px;
  background-color: #eff4f8;
  border-radius: 10px 10px 0 0;

  @include media(600px) {
    padding: 59px 0 80px;
    margin-top: 0;
    background-color: transparent;
  }

  .co-ceo-career-conts {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 55px;

    @include media(600px) {
      flex-direction: column;
      gap: 18px;
    }

    .img-grp {
      position: absolute;
      top: auto;
      right: -23px;
      bottom: -51px;
      left: auto;
    }
  }

  .ttl-grp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    @include media($mo, max) {
      gap: 6px;
    }

    .line {
      width: 22px;
      height: 5px;
      background-color: #02c6ff;
      transform: rotate(-45deg);

      @include media($mo, max) {
        width: 18px;
      }
    }

    .ttl {
      font-size: 23px;
      font-weight: 700;
      color: #000;

      @include media($mo, max) {
        font-size: 20px;
      }
    }
  }

  .career-list {
    .txt {
      margin-top: 14px;
      font-size: 1.1875rem;
      font-weight: 400;
      color: #000;

      @include media($mo, max) {
        margin-top: 13px;
        font-size: 16px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

// board
.co-board-section {
  padding: 110px 0 180px;

  @include media($mo, max) {
    padding: 60px 0 80px;
  }

  .co-board-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 55px;

    @include media($mo, max) {
      flex-direction: column;
      gap: 28px;
    }

    .img-grp {
      width: 700px;
      height: 408px;
      flex-shrink: 0;

      @include media($mo, max) {
        width: 100%;
        height: 200px;
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .ttl {
      overflow: hidden;
      display: -webkit-box;
      font-size: 2.9375rem;
      font-weight: 700;
      color: #000;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      word-wrap: break-word;
      white-space: normal;
      -webkit-box-orient: vertical;
      word-break: keep-all; // 문단으로 끊어져서 줄바꿈 됨

      @include media($mo, max) {
        font-size: 28px;
        -webkit-line-clamp: 2;
      }
    }

    .desc {
      overflow: hidden;
      display: -webkit-box;
      margin-top: 26px;
      font-size: 1.4375rem;
      font-weight: 500;
      color: rgba(#000, 0.7);
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      word-wrap: break-word;
      white-space: normal;
      -webkit-box-orient: vertical;
      word-break: keep-all; // 문단으로 끊어져서 줄바꿈 됨

      @include media($mo, max) {
        margin-top: 15px;
        -webkit-line-clamp: 3;
        font-size: 15px;
      }
    }
  }

  .co-board-news-wrap {
    padding-top: 150px;

    @include media($mo, max) {
      padding-top: 70px;
    }

    .ttl {
      margin-bottom: 50px;
      font-family: 'pretendard' sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
      color: #000;

      @include media($mo, max) {
        margin-bottom: 26px;
      }
    }

    .co-board-news-conts {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;
      flex-wrap: wrap;

      @include media($mo, max) {
        flex-direction: column;
        gap: 50px;
      }

      .grp {
        width: calc((100% - 60px) / 3);
        cursor: pointer;

        @include media($mo, max) {
          width: 100%;
        }

        .img-grp {
          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .tt {
          overflow: hidden;
          display: -webkit-box;
          margin-top: 20px;
          font-size: 1.5rem;
          font-weight: 600;
          color: #000;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          word-wrap: break-word;
          white-space: normal;
          -webkit-box-orient: vertical;
          word-break: keep-all; // 문단으로 끊어져서 줄바꿈 됨

          @include media($mo, max) {
            margin-top: 15px;
            font-size: 20px;
          }
        }

        .date-grp {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
          margin-top: 16px;

          @include media($mo, max) {
            margin-top: 15px;
          }

          .date {
            font-size: 18px;
            font-weight: 500;
            color: rgba(#5d5d5d, 0.7);

            @include media($mo, max) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// board detail
.co-board-detail-section {
  padding: 198px 0 193px;

  @include media($mo, max) {
    padding: 70px 0 80px;
  }

  .img-grp {
    position: relative;
    padding-top: 58.334%;

    .img {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .ttl {
    padding: 96px 0 60px;
    margin-bottom: 70px;
    font-size: 2.813rem;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid rgba(#000, 0.2);
    word-break: break-all;

    @include media($mo, max) {
      padding: 31px 0 28px;
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  .conts {
    white-space: pre-line;
  }
}

// contact
.co-contact-section {
  .co-contact-info-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
    padding: 130px 0 158px;

    .ttl-grp {
      flex-shrink: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 116px;
    }

    .tt {
      font-size: 1.25rem;
      font-weight: 600;
      color: #02c6ff;
    }

    .ttl {
      font-size: 2.9375rem;
      font-weight: 700;
      color: #000;
    }

    .info-ttl {
      position: relative;
      padding-left: 13px;
      margin-bottom: 21px;
      font-size: 1.5625rem;
      font-weight: 600;
      color: #000;

      &::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 26px;
        background-color: #02c6ff;
        transform: translateY(-50%);
      }
    }

    .info-list {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .info-tt {
        font-size: 1.25rem;
        font-weight: 700;
        color: rgba(#000, 0.49);
      }

      .info-desc {
        margin-left: 12px;
        font-size: 1.125rem;
        font-weight: 400;
        color: #000;
      }
    }
  }

  .co-contact-wrap {
    @include bg-url(img, 'p3_bg.webp');

    padding: 160px 0 190px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .co-contact-conts {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 120px;

      .left {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        flex-shrink: 0;
        padding: 30px 0;

        .ttl {
          font-size: 3.125rem;
          font-weight: 600;
          color: #fff;
          font-family: 'poppins', sans-serif !important;
        }

        .desc {
          position: relative;
          margin-top: 25px;
          padding-top: 28px;
          font-size: 1.125rem;
          font-weight: 400;
          color: rgba(#fff, 0.8);

          &::before {
            content: '';
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 3px;
            background: linear-gradient(to right, #02c6ff, #1c45f9);
          }
        }
      }

      .right {
        flex-grow: 1;
      }
    }
  }
}

// error page
.page-error-section {
  @include bg-url(img, 'error_bg.webp');

  padding: 243px 0 189px;
  background-size: cover;

  @include media(600px) {
    @include bg-url(img, 'm_error_bg.webp');

    background-size: cover;
    padding: 217px 0 0;
    height: 100vh;
  }

  .img-grp-01 {
    width: 161px;
    height: 108px;
    margin: 0 auto;

    @include media(600px) {
      width: 95px;
      height: 64px;
    }
  }

  .img-grp-02 {
    width: 300px;
    height: 244px;
    margin: 36px auto 0;

    @include media(600px) {
      width: 181px;
      height: 147px;
      margin: 21px auto 0;
    }
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .error-ttl-grp {
    width: 600px;
    padding: 38px;
    margin: -45px auto 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: rgba(#fff, 0.4);
    text-align: center;

    @include media(600px) {
      width: auto;
      padding: 30px 35px;
      margin: -17px 0 0;
    }

    .error-ttl {
      font-size: 1.625rem;
      font-weight: 700;
      color: #000;

      @include media(600px) {
        font-size: 18px;
      }
    }

    .error-desc {
      margin-top: 20px;
      font-size: 1.125rem;
      font-weight: 500;
      color: #2e2e2e;

      @include media(600px) {
        margin-top: 16px;
        font-size: 15px;
      }
    }
  }
}
