.mb-hide {
  @include media(600px) {
    display: none !important;
  }
}

.mb-show {
  display: none !important;

  @include media(600px) {
    display: inherit !important;
  }
}

.sub-page-ttl {
  font-size: 2.9375rem;
  font-weight: 700;
  color: #000;
  text-align: center;

  @include media(600px) {
    font-size: 30px;
  }

  &.type-sm {
    font-size: 2.8125rem;
  }

  &.type-wh {
    color: #fff;
  }
}

.sub-page-desc {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #000;
  text-align: center;

  @include media(600px) {
    margin-top: 15px;
    font-size: 15px;
  }

  &.type-wh {
    color: #fff;
  }
}

// wave 애니메이션
@keyframes waves {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}

.scroll-horizontal-img {
  animation-name: horizontal-scroll;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;

  @keyframes horizontal-scroll {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-30%);
      transform: translateX(-30%);
    }

    40% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }

    100% {
      opacity: 0.3;
      -webkit-transform: translateX(30%);
      transform: translateX(30%);
    }
  }
}

// overview
.st-overview-wrap {
  padding: 141px 0 147px;

  @include media(600px) {
    padding: 61px 0 80px;
  }

  .st-overview-img-grp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
    margin-top: 3.875rem;

    @include media(600px) {
      flex-wrap: wrap;
      margin-top: 35px;
    }

    .img-grp {
      @include media(600px) {
        width: calc((100% - 9px) / 2);
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

// Business Strategy
.st-bs-top-wrap {
  padding: 140px 0 160px;

  .sb-bs-top-conts {
    padding-top: 108px;

    .grp {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .card {
        padding: 10px;
        border-radius: 12px;
        border: 1px solid #02c6ff;
        background-color: #f0f7ff;
        margin-right: 14px;

        &.type-gradient {
          margin: 0 0 0 12px;
          border: 0;
          background: linear-gradient(to right bottom, #02c6ff, #1c45f9);

          .txt {
            padding: 18px 0;
          }
        }

        .txt {
          width: 170px;
          padding: 36px 0;
          border-radius: 8px;
          background-color: #fff;
          font-size: 1.25rem;
          font-weight: 600;
          color: #000;
          text-align: center;

          &.mt {
            margin-top: 10px;
          }
        }
      }

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgba(#d1e8ff, 0.3);
        font-size: 1.125rem;
        font-weight: 700;
        color: #000;
        text-align: center;

        &.type-01 {
          margin-left: 10px;
        }

        &.type-02 {
          margin-right: 10px;
        }
      }

      .lg-circle-grp {
        padding: 0 68px;

        .lg-circle {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12.875rem;
          height: 12.875rem;
          background: linear-gradient(to bottom, #02c6ff, #1c45f9);
          border-radius: 50%;
        }

        .ani-circle {
          z-index: -1;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;

          &.type-01 {
            width: 16.125rem;
            height: 16.125rem;
            background: #d1e8ff;
            animation: waves 1s ease-in-out infinite;
          }

          &.type-02 {
            width: 19.5rem;
            height: 19.5rem;
            background: rgba(#d1e8ff, 0.3);
            animation: waves 1.2s ease-in-out infinite;
          }
        }
      }
    }

    .grp-02 {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 96px;

      .all {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
      }

      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 22px;
      }

      .ttl-card {
        display: inline-block;
        border-radius: 27px;
        text-align: center;

        &.type-01 {
          padding: 11px 33px;
          background-color: #fff;
          border: 1px solid #02c6ff;
          font-size: 0.9375rem;
          font-weight: 500;
          color: #000;
          letter-spacing: -0.3px;
          box-shadow: 0px 3px 8px rgba(#00286e, 0.1);
        }

        &.type-02 {
          padding: 14px 38px;
          border: 0;
          background: linear-gradient(to right, #02c6ff, #1c45f9);
          font-size: 1.25rem;
          font-weight: 500;
          color: #fff;
          letter-spacing: -0.554px;
        }
      }

      .line {
        width: 63px;
        height: 1px;
        background-color: #02c6ff;

        &.type-02 {
          position: relative;
          width: 33px;

          &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: auto;
            right: 0;
            bottom: 0;
            left: auto;
            width: 1px;
            height: 246px;
            background-color: #02c6ff;
          }

          .icon-top {
            position: absolute;
            z-index: 1;
            top: auto;
            left: 50%;
            transform: translateX(21%) rotate(-90deg);
            bottom: 198px;
          }
        }
      }
    }
  }
}

.st-bs-bottom-wrap {
  @include bg-url(img, 'img_board_02.webp');

  padding: 120px 0 116px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .st-bs-conts {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 51px 94px;
    margin-top: 43px;
    border-radius: 12px;
    backdrop-filter: blur(20px);

    .grp {
      text-align: center;
      white-space: nowrap;

      &.type-02 {
        position: relative;
        margin: 0 107px 0 80px;
        padding: 0 95px;

        &::after,
        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 50%;
          width: 2px;
          height: 268px;
          background: linear-gradient(to bottom, rgba(#fff, 0.8), transparent);
          transform: translateY(-50%);
        }

        &::after {
          left: auto;
          right: 0;
        }

        &::before {
          left: 0;
        }
      }

      .step {
        font-family: 'poppins', sans-serif !important;
        font-size: 1rem;
        font-weight: 600;
        color: #02c6ff;
      }

      .num {
        margin: 10px 0 21px;
        font-size: 1.25rem;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;

        .lg {
          font-family: 'Poppins', sans-serif !important;
          font-size: 3.375rem;
          color: #fff;
        }
      }

      .ttl {
        margin-bottom: 13px;
        font-size: 1.125rem;
        font-weight: 600;
        color: #fff;
      }

      .txt {
        font-size: 0.875rem;
        font-weight: 400;
        color: rgba(#fff, 0.8);
      }
    }
  }
}

// Marketing Strategy
.st-ms-top-wrap {
  padding: 10.1875rem 0 10rem;

  @include media(600px) {
    padding: 60px 0 70px;
  }

  .st-ms-top-card-grp {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;
    margin-top: 4.0625rem;

    @include media(600px) {
      flex-direction: column;
      gap: 15px;
      margin-top: 35px;
    }

    .st-ms-top-card {
      overflow: hidden;
      width: calc((100% - 2.5rem) / 2);
      border: 2px solid transparent;
      border-radius: 16px;
      background-color: #fff;
      box-shadow: 0px 3px 12px rgba(#000, 0.08);
      text-align: center;

      @include media(600px) {
        width: 100%;
        box-shadow: none;
      }

      &.type-border {
        @include media(600px) {
          border-color: #f3f3f3;
        }
      }

      &.type-gradient {
        background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #02c6ff 0%, #1c45f9 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;

        .ttl {
          background: linear-gradient(to right, #02c6ff, #1c45f9);
          // background: -webkit-linear-gradient(#02c6ff, #1c45f9);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 600;
        }

        .list-txt {
          background-color: #f7fcff;
        }
      }

      .card-in {
        padding: 2.25rem 0.75rem 1.25rem;

        @include media(600px) {
          padding: 28px 10px 10px;
        }
      }

      .ttl {
        padding-bottom: 2.0625rem;
        font-size: 1.4375rem;
        font-weight: 700;
        color: #1c1c1c;

        @include media(600px) {
          font-size: 18px;
        }
      }

      .list-txt {
        width: 100%;
        padding: 28px 0;
        border-radius: 10px;
        background-color: #f9f9f9;
        font-size: 1.25rem;
        font-weight: 500;
        color: #1c1c1c;

        @include media(600px) {
          padding: 18px 0;
          border-radius: 6px;
          font-size: 16px;
        }

        &.mb {
          margin-bottom: 12px;

          @include media(600px) {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.st-ms-bottom-wrap {
  @include bg-url(img, 'img_strategy_09.webp');

  padding: 151px 0 163px;
  background-position: center center;
  background-size: cover;

  @include media(600px) {
    padding: 75px 47.5px;
  }

  .st-ms-bottom-grp {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 65px;
    background: linear-gradient(to right, rgba(#fff, 0.05), transparent);

    @include media(600px) {
      flex-direction: column;
      background: linear-gradient(to bottom, rgba(#fff, 0.05), transparent);
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      padding: 47px 53px 24px;
      border-radius: 16px;
      background: linear-gradient(to right, #02c6ff, #1c45f9);

      .ttl {
        position: relative;
        padding-top: 27px;
        margin-top: 27px;
        font-size: 1.4375rem;
        font-weight: 500;
        color: #fff;

        &::after {
          content: '';
          z-index: 1;
          position: absolute;
          top: 0;
          left: 50%;
          width: 135%;
          height: 1px;
          background: linear-gradient(to right, transparent, #fff, transparent);
          transform: translateX(-50%);
        }
      }
    }

    .middle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 13px;
      flex-grow: 1;
      padding: 0 13px 0 10px;
      // background: linear-gradient(to right, rgba(#fff, 0.05), transparent);

      @include media(600px) {
        flex-direction: column;
      }

      .icon {
        flex-shrink: 0;
      }

      .middle-grp {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 12px;
        flex-grow: 1;

        @include media(600px) {
          flex-direction: column;
          gap: 8px;
          width: 100%;
        }

        .list {
          width: calc((100% - 12px) / 2);
          padding: 23px 0;
          border-radius: 8px;
          background-color: rgba(#000, 0.67);
          font-size: 1.25rem;
          font-weight: 500;
          color: #fff;
          text-align: center;

          @include media(600px) {
            width: 100%;
          }
        }
      }
    }

    .right {
      flex-shrink: 0;

      .list {
        width: 330px;
        height: 70px;
        border-radius: 8px;
        border: 2px solid transparent;
        background-image: linear-gradient(#040404, #000103), linear-gradient(to right, #02c6ff 0%, #1c45f9 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        line-height: 70px;
        color: #fff;
        text-align: center;

        @include media(600px) {
          width: 100%;
        }

        &:nth-child(2) {
          margin: 10px 0;
        }
      }
    }
  }
}
