---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';
import SubTab from '../../components/SubTab.astro';

const pageTitle = 'MediLMMCEO';
const idName = 'ceo';
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <div class="co-board-detail-section">
    <div class="inner">
      <div class="img-grp">
        <img class="img" src="../assets/images/p2_detail.webp" alt="" />
      </div>
      <p class="ttl">혁신적인 데이터 활용, 메디렘을 소개합니다.</p>
      <div class="conts">내용</div>
    </div>
  </div>
</Layout>
<!-- 컨텐츠가 들어갈 부분 eee -->
