---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';

const pageTitle = '메디 > 리스트';
const idName = 'a222';
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <div class="inner"></div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
