---
---

<div class="modal">
  <div class="modal__bg"></div>
  <div class="modal__cnt">
    <div class="modal__close">Close X</div>
    <div class="modal__text-wrap">
      <h3>
        <img class="" src="../assets/images/moda-title.svg" alt="" />
      </h3>
      <h2></h2>
    </div>
    <div class="modal__img">
      <img class="" src="" alt="" />
    </div>
  </div>
</div>
