<nav class="pagination-wrap">
  <ul>
    <li class="page-item prev"><a href="#" class="prev" aria-label="Previous"></a></li>
    <li class="page-item active"><a href="#">1</a></li>
    <li class="page-item"><a href="#">2</a></li>
    <li class="page-item"><a href="#">3</a></li>
    <li class="page-item next"><a href="#" class="next" aria-label="Next"></a></li>
  </ul>
</nav>
