<nav class="top-menu inner">
  <ul>
    <li>
      <a href="https://instagram.com">
        <img class="" src="../assets/img/topmenu01.svg" alt="" />
        <p class="f-sc"><span>인스타그램</span></p>
      </a>
    </li>
    <li>
      <a href="https://instagram.com">
        <img class="" src="../assets/img/topmenu02.svg" alt="" />
        <p class="f-sc"><span>카카오톡</span></p>
      </a>
    </li>
    <li>
      <a href="https://instagram.com">
        <img class="" src="../assets/img/topmenu03.svg" alt="" />
        <p class="f-sc"><span>이벤트</span></p>
      </a>
    </li>
    <li>
      <a href="https://instagram.com">
        <img class="" src="../assets/img/topmenu04.svg" alt="" />
        <p class="f-sc"><span>온라인상담</span></p>
      </a>
    </li>
    <li>
      <a href="https://instagram.com">
        <img class="" src="../assets/img/topmenu05.svg" alt="" />
        <p class="f-sc"><span>리뷰작성</span></p>
      </a>
    </li>
  </ul>
  <button class="com-btn f-sc" id="top-button">TOP</button>
</nav>
