/* =================== 기본 폰트 크기=================== */
$base-font-size: 16;

/* =================== 미디어쿼리 관련 =================== */
$web: 1200px;
$tab: 900px;
$mo: 600px;
$s-mo: 375px; // IPhone X(375px)를 기준
$xs-mo: 320px; // iPhone 5

/* =================== 색상 =================== */
$clr-pri: #02C6FF; // Primary Color
$clr-sec: #1C45F9; // Secondary Color
$clr-thi: #002f8e; // Tertiary  Color
$clr-acc: #e74c3c; // Accent Color
$clr-bg: #f6f6f6; // Background Color
$clr-txt: #2c3e50; // Text Color

/* =================== Path =================== */
$path-set: (
  icon: '../../assets/images/icon/',
  img: '../../assets/images/',
  video: '../../assets/video/',
  logo: '../../assets/images/logo/',
  object: '../../assets/images/object/',
);
