---
import '../css/ui.css';
---

<!-- footer -->
<footer id="footer" class="footer">
  <div class="inner">
    <div class="footer__logo">
      <img class="" src="../assets/img/fot-logo.png" alt="" />
    </div>
    <ul class="footer__info">
      <li>
        <dl>
          <dt>상포명(법인)</dt>
          <dd>주식회라 보미오라</dd>
        </dl>
        <dl>
          <dt>대표이사</dt>
          <dd>정대진</dd>
        </dl>
        <dl>
          <dt>고객센터</dt>
          <dd>02.546.1031</dd>
        </dl>
        <dl>
          <dt>이메일</dt>
          <dd>djhani0909@hanmail.net</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>사업자번호</dt>
          <dd>356.87.02862</dd>
        </dl>

        <dl>
          <dt>통신판매업신고</dt>
          <dd>제2023.서울강남.02585호</dd>
        </dl>

        <dl>
          <dt>건강기능식품판매업신고</dt>
          <dd>제2023.0138695호</dd>
        </dl>

        <dl>
          <dt>주소</dt>
          <dd>서울 강남구 봉은사로 109, 6층(논현동)</dd>
        </dl>
      </li>
    </ul>
    <div class="footer__bot flx jcb">
      <div class="copy">ⓒ2023 bomiara, All rights reserved.</div>
      <ul class="ft_link">
        <li><a href="https://bomiora.kr/shop/information.php">이용약관</a></li>
        <li>
          <a href="https://bomiora.kr/shop/agreement.php">개인정보처리방침</a>
        </li>
        <li>
          <a href="https://www.instagram.com/bomioramall/" target="_blank"
            >인스타그램</a
          >
        </li>
        <li>
          <a href="https://bomiora.kr/bbs/board.php?bo_table=online"
            >온라인상담</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- footer eee -->
