---
import '../css/ui.css';
---

<!-- footer -->
<footer id="footer" class="footer">
  <div class="inner">
    <div class="footer__wrap">
      <div class="footer__grp" data-aos="fade-up" data-aos-duration="1000">
        <div class="footer__logo"></div>
        <div class="footer__info_grp">
          <div class="footer__info footer__address">
            <div class="footer__icon">
              <i class="icon footer_address_icon"></i>
            </div>
            <div class="footer__info_txt">서울시 강남구 테헤란로,<br class="is-tab-hide">
              82길 15 349호</div>
          </div>
          <div class="footer__info footer__email">
            <div class="footer__icon">
              <i class="icon footer_email_icon"></i>
            </div>
            <div class="footer__info_txt">yssuh@medilmm.com</div>
          </div>
          <div class="footer__info footer__phone">
            <div class="footer__icon">
              <i class="icon footer_phone_icon"></i>              
            </div>
            <div class="footer__info_txt">02-5220-2593</div>
          </div>
        </div>
        <div class="btn footer__btn is-tab-hide">
          Cantact Us
        </div>
        <p class="footer__copyright is-tab-show">
          Copyright ⓒ MEDILMM CO.,LTD. All Rights Reserved
        </p>
      </div>
      <div class="footer__grp is-tab-hide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
        <p class="footer__ttl">CORE TECHNOLOGY</p>
        <div class="footer__page">
          <p class="footer__link">Multi Modal Data</p>
          <p class="footer__link">About MediLMM</p>
          <p class="footer__link">Our Platform</p>
        </div>
      </div>
      <div class="footer__grp is-tab-hide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
        <p class="footer__ttl">MEDILMM CAD</p>
        <div class="footer__page">
          <p class="footer__link">Simple Model</p>
          <p class="footer__link">UVL Transformer</p>
          <p class="footer__link">CAD Catch</p>
          <p class="footer__link">CAD Wrap</p>
        </div>
      </div>
      <div class="footer__grp is-tab-hide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="450">
        <p class="footer__ttl">STRATEGY</p>
        <div class="footer__page">
          <p class="footer__link">Overview</p>
          <p class="footer__link">Business Strategy</p>
          <p class="footer__link">Marketing Strategy</p>
        </div>
      </div>
      <div class="footer__grp is-tab-hide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600"> 
        <p class="footer__ttl">PLAN</p>
        <div class="footer__page">
          <p class="footer__link">MediLMM Roadmap</p>
          <p class="footer__link">Financial Plan</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer eee -->
